<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Product Manager</title>
</head>
<body>
<div align="center">
<h1>Product List</h1>
<a href="/new">Create New Product</a>
<br/><br/>
<table border="1" cellpadding="10">
<thead>
<tr>
                    <th>ID</th>
					<th>Ime</th>
					<th>Prezime</th>
					<th>Username</th>
					<th>Password</th>
					<th>Adresa</th>
					<th>Telefon</th>
					<th>EMail</th>
					<th>Uloga</th>
</tr>
</thead>
<tbody>
<tr th:each="tempKorisnici : ${korisnici}">
<td th:text="${tempKorisnici.id_korisnik}">ID</td>
<td th:text="${tempKorisnici.username}">Ime</td>
<td th:text="${tempKorisnici.password}">Prezime</td>
<td th:text="${tempKorisnici.ime}">Username</td>
<td th:text="${tempKorisnici.prezime}">Password</td>
<td th:text="${tempKorisnici.adresa}">Adresa</td>
<td th:text="${tempKorisnici.telefon}">Telefon</td>
<td th:text="${tempKorisnici.email}">EMail</td>
<td th:text="${tempKorisnici.uloge_uloga_id}">uloga</td>

</tr>
</tbody>
</table>
</div>
</body>
</html>